<p class="p-2 text-center">
  Start Match | {{ match?.homeTeamName }} vs {{ match?.awayTeamName }} |
  {{ getFormattedDate(match?.scheduledDateTime) }}
</p>

<form class="p-2 w-50 mx-auto" [formGroup]="startForm" (ngSubmit)="onSubmit()">
  <div class="mt-2">
    <label class="form-label" for="winningTeamId">Toss winner</label>
    <select
      class="form-select"
      name="winningTeamId"
      id="winningTeamId"
      formControlName="winningTeamId"
    >
      <option selected value="0">-- select winning team --</option>
      <option *ngFor="let team of teams" value="{{ team.id }}">
        {{ team.name }}
      </option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="winningTeamId?.touched && winningTeamId?.invalid"
    >
      <div
        *ngIf="winningTeamId?.errors?.['required'] || winningTeamId?.errors?.['min']"
      >
        Team is required.
      </div>
    </div>
  </div>

  <div class="mt-2">
    <label class="form-label" for="tossDecisionId">Toss decision</label>
    <select
      class="form-select"
      name="tossDecisionId"
      id="tossDecisionId"
      formControlName="tossDecisionId"
    >
      <option selected value="0">-- select toss decision --</option>
      <option *ngFor="let t of tossDecisions" value="{{ t.id }}">
        {{ t.decision }}
      </option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="tossDecisionId?.touched && tossDecisionId?.invalid"
    >
      <div
        *ngIf="tossDecisionId?.errors?.['required'] || tossDecisionId?.errors?.['min']"
      >
        Toss decision is required.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Start</button>
</form>
