<table class="table">
  <thead>
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>DateTime</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of matches">
      <td>{{ m.homeTeamName }}</td>
      <td>{{ m.awayTeamName }}</td>
      <td>
        {{ getFormattedDate(m.scheduledDateTime) }}
      </td>
      <td>
        <button class="btn btn-light" (click)="onStart(m.id)">Start</button>
        <button class="ms-2 btn btn-light" (click)="onStop(m.id)">
          Complete
        </button>
        <button class="ms-2 btn btn-light" (click)="onScore(m.id)">
          Score
        </button>
        <button class="ms-2 btn btn-danger" (click)="onDelete(m.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
